body {
  padding: 0;
  margin: 0;
  border: none;
}
body ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
body a {
  text-decoration: none;
}
body button {
  border: none;
}
body input,
body button {
  outline: none;
}